@import "_setting.scss";


.board-content {
    display: flex;
    margin: 0 $gap $gap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.24);
    }
    &::-webkit-scrollbar-track {
      background-color: darken($board-bg-color, $amount: 15);
      border-radius: 10px;
    }
    
  }